.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

.container{
    background-color:#1a2849;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-family: inter;
    max-width: 1000px;
    min-width: 900px;
    display: block;
    margin: 0 auto;
}

.app{
    background-color:#505bda;
    border: none;
    border-radius: 10px;
    margin: 20px;
}

.title-app{
    text-align: center;
    color: #FFFBFB;
    font-size: 50px;
    padding: 40px;
    font-weight: 700;
}

.city-select{
    display: block;
    margin: 20px auto;
    border: none;
    border-radius: 10px;
    background-color: #ffa87b;
    color: #1a2849;
    padding: 5px 100px 5px 5px;
    font-size: 18px;
}

.row-clocks{
    padding-bottom: 10px;
}

.clocks{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 20px 0;
}

.selected-city{
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color:#ffaac3;
    color: #1a2849;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 50px;
    height: 275px;
    width: 325px;
}

.main-city-name{
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 15px auto;
}

.main-clock{
    font-size: 36px;
    font-weight: 100;
    font-family:sans-serif;
}

.main-clock-date{
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
    font-family:Arial, Helvetica, sans-serif;

}

.other-cities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFBFB;
}

.fixed-cities{
    border: none;
    border-radius: 10px;
    background-color: #b063c5;
    text-align: center;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fixed-cities-details{
    display: flex;
    justify-content: space-between;
}

.other-cities-name{
    font-size: 20px;
    text-transform: uppercase;
}

.other-cities-date{
    font-size: 16px;
}

.other-cities-clock{
    font-size: 24px;
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;

}

footer{
    text-align: center;
    padding: 20px;
    color: #FFFBFB;
}

.footer-a{
    color: #ffa87b;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

.footer-a:hover{
    color: #b063c5;
}